root = true

[*]
indent_size = 3
indent_style = space
trim_trailing_whitespace = true

[{*.js,*.ts}]
quote_type = single

[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2
